* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Karla", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #454546;
    background: #faecea;
}

#all {
    display: block;
    padding: 50px 250px 40px 100px;
}

#info {
    padding-bottom: 50px;
}

.text {
    padding-bottom: 40px;
}

h1, h2, h3 {
    padding-left: 200px;
    padding-bottom: 20px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 19.5px;
}

p {
    font-size: 18px;
    color: rgb(109, 109, 109);
}

a {
    text-decoration: none;
    color: #f8edea;
}

#img {
    padding-left: 150px;
    padding-bottom: 80px;
}

figure {
    font-size: 14px;
    color: rgb(135, 136, 136);
    padding-top: 6px;
    padding-left: 230px;
}

button {
    font-weight: bolder;
    font-size: 17px;
    background: #ff4c2d;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}